<ul class="sidebar-nav">
	<li class="sidebar-brand">
		<a class="js-scroll-trigger" href="#page-top"><b>科技系懶人包！</b></a>
	</li>
	<li class="sidebar-nav-item">
		<a class="js-scroll-trigger" href="../subjects/LaserCut.html">設科：雷射切割</a>
	</li>
	<li class="sidebar-nav-item">
		<a class="js-scroll-trigger" href="../subjects/InternetIntro.html">學科：網際網路概論</a>
	</li>
	<li class="sidebar-nav-item">
		<a class="js-scroll-trigger" href="../subjects/ComputerProgramming.html">資工：程式設計</a>
	</li>
	<li class="sidebar-nav-item">
		<a class="js-scroll-trigger" href="../subjects/Calculus.html">資工：微積分</a>
	</li>
	<hr><!--------------------------------->
	<li class="sidebar-nav-item">
		<a class="js-scroll-trigger" href="https://forms.gle/tN4t4k7mt91NMgQ4A" target="_blank">懶人包主題提供</a>
	</li>
	<li class="sidebar-nav-item">
		<a class="js-scroll-trigger" href="https://forms.gle/oXptZdPXLTaC2wiN7" target="_blank">意見回饋</a>
	</li>
</ul>