<ul class="sidebar-nav">
	<li class="sidebar-brand">
		<a class="js-scroll-trigger" href="#page-top"><b>科技系懶人包！</b></a>
	</li>
	<li class="sidebar-nav-item">
		<a class="js-scroll-trigger" href="../LaserCut.html">雷射切割</a>
	</li>
	<li class="sidebar-nav-item">
		<a class="js-scroll-trigger" href="../internetIntro.html">網際網路概論</a>
	</li>
	<li class="sidebar-nav-item">
		<a class="js-scroll-trigger" href="../calculus.html">微積分</a>
	</li>
	<li class="sidebar-nav-item">
		<a class="js-scroll-trigger" href="../cpi.html">資工系 程式設計</a>
	</li>
	<hr>
	<li class="sidebar-nav-item">
		<a class="js-scroll-trigger" href="https://forms.gle/tN4t4k7mt91NMgQ4A" target="_blank">懶人包主題提供</a>
	</li>
	<li class="sidebar-nav-item">
		<a class="js-scroll-trigger" href="https://forms.gle/oXptZdPXLTaC2wiN7" target="_blank">意見回饋</a>
	</li>
</ul>